.header {
    background-color: var(--primary);
    color: var(--colorLetra);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

  
  }

.titleHeader{
    margin: 0;
   
}


.linkTituloPrincipal{
    font-family: 'M PLUS Rounded 1c', sans-serif;  
    color: var(--colorLetra);
    list-style: none;
    text-decoration: none;
    
}

.linkTituloPrincipal:hover {
    color: var(--colorHover);
}
  
  @media (min-width: 600px) {
    .header {
      flex-direction: row;
      align-items: center;
    }
  
    .titleHeader {
      margin-bottom: 20px;
    }

  }