.menu {
  position: relative;
}

.menu-toggle {
  display: none; /* Ocultar el menú hamburguesa en la versión de escritorio */
}

.menu-items {
  display: flex;
}

.menu.open .menu-items {
  opacity: 1;
  visibility: visible;
}

.menu-items li {
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
}

.menu-items li:hover a {
 color:var(--colorHover);
}

.menu-items a {
  text-decoration: none;
  color: var(--colorLetra);
}

@media (max-width: 600px) {
  /* Estilos para la versión móvil */
  .menu {
    position: relative;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: var(--colorLetra);
  }

  .menu-items {
    display: none; /* Ocultar el menú lateral en la versión de escritorio */
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: var(--primary);
  }

  .menu.open .menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 601px) {
  /* Estilos para la versión de escritorio */
  .menu-toggle {
    display: none;
  }
}
