.titleProjects {
  text-align: center;
  margin: 20px;
}

video {
    width: 100%;
    margin: auto;
  }
  
  .player {
    position: relative;
  }
  
  .player .controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .player .controls .play-button {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
  }
  
  .listaProjects {
    list-style: none;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: space-around;
  }

  .borderProjects {
    border-top: 2px solid var(--primary);
    padding-top: 20px;
  }

  .divProjects {
    padding: 30px 20px 0px 20px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
  }

.liProjects {
  font-size: 30px;
}

.contenedorProjects {
  margin-bottom: 20px;
}


@media (min-width: 600px) {
  .titleProjects {
    font-size: xx-large;
    padding: 20px;
  }
  .borderProjects {
    padding-top: 30px;
  }
  .contenedorProjects {
    max-width: 600px;
    margin: 0 auto;
  }

  .divProjects,
  .player {
    max-width: 600px;
    margin: 0 auto;
  }

  video {
    width: 100%;
    max-width: 600px;
  }

  .divProjects1{
    margin-bottom: 20px;
  }
}


